{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="m-2 p-6 max-w-sm mx-2 bg-white rounded-xl shadow-md flex-wrap items-center space-x-4">
            <form id='createCads' class="mt-8 space-y-6" action="#">

                <label for="file" class="sr-only">Картинка</label>
                <input id="file" name="file" type="file" required
                       class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                >
                <img id="preview" src="" class="w-[240px] h-[330px]" alt="Image Preview" style="display:none;">
                <label for="name" class="sr-only">Имя футболиста</label>
                <input id="name" name="name" type="text" required
                       class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                       placeholder="Имя">

                <label for="info" class="sr-only">Информация о футболисте</label>
                <input id="info" name="info" type="text" required
                       class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                       placeholder="Информация о футболисте">
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                        Создать
                    </button>
                </div>
            </form>

        </div>

    </div>

    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function (e) {
            const file = e.target.files[0];
            if (file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('preview').src = e.target.result;
                    document.getElementById('preview').style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        });
    </script>

    <script>
        document.getElementById('createCads').addEventListener('submit', function (event) {
            event.preventDefault();
            const form = new FormData(document.querySelector("form[id='createCads']"));
            form.append('type_', '{{ type.value }}')
            {#const object = {};#}
            {#form.forEach(function (value, key) {#}
            {#    object[key] = value;#}
            fetch('http://127.0.0.1:8000/collection/{{ id_collection }}/card/create/', {
                method: 'POST',
                credentials: 'include',
                body: form
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    const taskId = data.task_id

                    function checkTaskStatus(taskId) {
                        fetch(`http://127.0.0.1:8000/tasks/${taskId}/`)
                            .then(response => response.json())
                            .then(data => {
                                console.log('Task status:', data.status);
                                if (data.status === 'SUCCESS' || data.status === 'FAILURE') {
                                    clearInterval(checkInterval);
                                    console.log(data);
                                    location.href = 'http://127.0.0.1:8000/pages/collections/{{ id_collection }}/cards/?q={{ type.value }}';
                                }
                            })
                            .catch(error => console.error('Error:', error));
                    }

                    const checkInterval = setInterval(() => checkTaskStatus(taskId), 100);

                })
                .catch(error => console.error(error));
        });
    </script>

{% endblock %}