{% extends 'base.html' %}

{% block content %}

    <div class="text-xl font-medium text-black">Список коллекций</div>
    <div class="flex flex-wrap space-x-4" xmlns="http://www.w3.org/1999/html">
        <button class="bg-gray-500 hover:bru text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                onclick=location.href="{{ url_for('create_collection_to') }}">
            Создать коллекцию
        </button>
    </div>
    <div class="flex flex-wrap">

        {% for collection in collections %}

            <div class="m-2 p-6 max-w-sm mx-2 bg-white rounded-xl shadow-md flex-wrap items-center justify-content-center space-x-4"
                 style="background-color: rgba(37, 31, 43, 0.8);">
                <a class="text-white ml-16"
                   href="{{ url_for('collection_detail', id_collection=collection.id) }}">{{ collection.name }}</a>

                <p class="text-white mt-6">Статус: {% if collection.status == 'active' %}
                    Активная{% elif collection.status == 'created' %}Созданная{% endif %} </p>


                <p class="text-white">Размер: {% if collection.size=='fortyCards' %}40
                    карточек{% elif collection.size=='sixtyCards' %}60 карточек{% else %}80 карточек{% endif %}</p>
                <p class="text-white" type="date">Дата
                    создания: {{ collection.date.strftime('%Y-%m-%d в %H:%M') }}</p>

            </div>

        {% endfor %}
    </div>
{% endblock %}