{% extends 'frontend/main/collections/main_collection.html' %}


{% block body %}
	<div class="button-positon">
		<button class="create-collection-ml" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Создать
		                                                                                                         новую
		                                                                                                         коллекцию
		</button>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl creating-collection-btn">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="color: black; font-size: 24px" id="exampleModalLabel">Создание новой
					                                                                                     коллекции</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<div class="creating-collection-space">
						<form action="#" id="createCollection" enctype="multipart/form-data">
							<div class="input-name-card">
								<label class="inner-font label-name-input" for="cardsNameInput">Название:</label>
								<input class="inner-font" id="cardsNameInput" name="name" placeholder="Введите название"
								       type="text" required>
							</div>
							<div class="create-collection-main-input">
								<div class="create-view-collection">
									<p class="view-title inner-font">Обложка коллекции:</p>
									<div id="createViewDiv" class="create-view-div">
										<img id="frame" src="" width="100%"
										     height="100%">
										<label class="form-control change-photo-button"
										       style="text-align: center; justify-content: right; flex-direction: row-reverse"
										       tabindex="0">Добавить обложку

											<img class="change-photo-image"
											     src="/static/images/collection/get_activ_collection/img.png"
											     alt="Change Image">
											<input type="file" name="cover" class="invisible change-photo-button"
											       id="inputImageCollection"
											       onchange="preview10()">
										</label>
									</div>
								</div>
								<div class="create-view-collection">
									<p class="view-title inner-font">Описание коллекции:</p>
									<div class="mb-3 div-input-text-collection form-floating">
										<label for="cardInfoInput"
										       class="form-label inner-font description-cards"></label>
										<textarea class="form-control inner-font area-text-collection" name="motto"
										          id="cardInfoInput"
										          placeholder="Введите текст" required></textarea>
									</div>
								</div>
							</div>
							<div class="selected-collection-size">
								<p class="selecte-title inner-font">Колличество карточек:</p>
								<div class="form-check radio-collection-size">
									<input type="radio" class="form-check-input btn-check" name="size"
									       value="fortyCards" id="option3" autocomplete="off">
									<label style="color: black" class="form-check-label btn change-size-radio"
									       for="option3">40</label>
								</div>
								<div class="form-check radio-collection-size">
									<input type="radio" class="form-check-input btn-check" name="size"
									       value="sixtyCards" id="option2" autocomplete="off">
									<label style="color: black" class="form-check-label btn change-size-radio"
									       for="option2">60</label>
								</div>
								<div class="form-check radio-collection-size">
									<input type="radio" class="form-check-input btn-check" name="size"
									       value="eightyCards" id="option1" autocomplete="off">
									<label style="color: black" class="form-check-label btn change-size-radio"
									       for="option1">80</label>
								</div>
							</div>
							<div class="btn-possition-modal">
								<button type="submit" class="btn-collection-create inner-font">
									Сохранить&nbsp;изменения
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
	<script>
        function preview10() {
            let frame = document.getElementById('frame');
            let view = document.getElementById('createViewDiv');
            view.style.backgroundImage = `url(${URL.createObjectURL(event.target.files[0])})`
            {#frame.style.display = 'block'#}
            {#frame.src = URL.createObjectURL(event.target.files[0]);#}
        }
	</script>
	<script>
        $(document).ready(function () {
            $('.btn-check').on('click', function () {
                $(this).next('.btn').toggleClass('active');
            });
        });
	</script>
	<script>
        document.getElementById('createCollection').addEventListener('submit', function (event) {
            event.preventDefault();
            const form = new FormData(document.querySelector("form[id='createCollection']"));
            const object = {};
            form.forEach(function (value, key) {
                object[key] = value;
            });

            fetch('http://127.0.0.1:8000/collection/create/', {
                method: 'POST',
                credentials: 'include',
                body: form
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.task_id) {
                        const taskId = data.task_id

                        function checkTaskStatus(taskId) {
                            fetch(`http://127.0.0.1:8000/tasks/${taskId}/`)
                                .then(response => response.json())
                                .then(data => {
                                    console.log('Task status:', data.status);
                                    if (data.status === 'SUCCESS' || data.status === 'FAILURE') {
                                        clearInterval(checkInterval);
                                        console.log(data);
                                        location.href = 'http://127.0.0.1:8000/pages/collections/created/?status=created';
                                    }
                                })
                                .catch(error => console.error('Error:', error));
                        }

                        const checkInterval = setInterval(() => checkTaskStatus(taskId), 100);
                    }


                })
                .catch(error => {
                    console.error('Ошибка загрузки данных:', error)
                });
        });
	</script>
	<div class="created-collection-display-list align-items-center">

		{% for collection in collections %}
			<div id="collectionDisplay" data-id="{{ collection.id }}" class="created-collection-display">
				<div class="collection-title-display">
					<p class="collection-title inner-font">{{ collection.name }}</p>
					<button class="active-collection-spase" data-col-id="{{ collection.id }}"
					        onclick="ActivateCollection(this)">
						<span>Активировать&nbsp;коллекцию</span>
					</button>
					<div class="dropdown toggle-collection">
						<button class="btn btn-secondary toggle-collection" type="button" data-bs-toggle="dropdown"
						        aria-expanded="false">
							<img src="/static/images/collection/create_cards/img_1.png"></button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item btn btn-primary open-modal" data-cover="{{ collection.cover }}"
							       data-col-id="{{ collection.id }}" data-motto="{{ collection.motto }}"
							       data-name="{{ collection.name }}" id="openModalBtn" href="#" data-bs-toggle="modal"
							       data-bs-target="#changeCollectionData">Редактировать коллекцию</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item btn btn-primary open-delete-modal" style="color: #E41730"
							       data-col-id="{{ collection.id }}" data-bs-toggle="modal"
							       data-bs-target="#deleteCollectionModal" href="#">Удалить коллекцию</a></li>
						</ul>
					</div>
				</div>
				<div class="collection-info">
					<p class="amoun-cards inner-font">Всего карточек: {% if collection.size == "sixtyCards" %}
					                                  60{% elif collection.size == "eightyCards" %}80{% else %}
					                                  40{% endif %}</p>
					<p class="collection-status-display inner-font">Статус: {% if collection.status == 'created' %}
					                                                Созданная{% elif collection.satuse == "active" %}
					                                                Активная{% else %}В архиве{% endif %}</p>
				</div>
				<div class="collection-items-display">
					<div class="collection-cover-display">
						{% if collection.cover %}
							<img src="{{ collection.cover }}"
							     alt="Collection cover">
						{% else %}
							Обложка коллекции отуствует
						{% endif %}
					</div>
					<div class="collection-description-display">
						{% if collection.motto %}
							<p class="inner-font">{{ collection.motto }}</p>
						{% else %}
							Описание коллекции отсутствует
						{% endif %}
					</div>
				</div>
				<div class="create-cards-display">
					<div class="cards-display">
						<img src="/static/images/cards/common.png" alt="Common cards" class="image-card">
						<div class="card-type-info">
							<h1 class="card-type-name inner-font">Обычные карточки</h1>
							<p class="amount-cards-by-type inner-font">
								Колличество: {{ collection.amoundCards.common }}</p>
						</div>
						<button id="cardsBatton" onclick="TestFunc(this)" data-id='{{ collection.id }}'
						        data-type="common" data-amount="{{ collection.amoundCards.common }}"
						        class="btn btn-primary" type="button" data-bs-toggle="collapse"
						        data-bs-target="#collapseExample-{{ collection.id }}" aria-expanded="false"
						        aria-controls="collapseExample-{{ collection.id }}">
						</button>
					</div>
					<div class="cards-display">
						<img src="/static/images/cards/uncommon.png" alt="Uncommon cards" class="image-card">
						<div class="card-type-info">
							<h1 class="card-type-name inner-font">Необычные карточки</h1>
							<p class="amount-cards-by-type inner-font">
								Колличество: {{ collection.amoundCards.uncommon }}</p>
						</div>
						<button id="cardsBatton" onclick="TestFunc(this)" data-id='{{ collection.id }}'
						        data-type="uncommon" data-amount="{{ collection.amoundCards.uncommon }}"
						        class="btn btn-primary" type="button" data-bs-toggle="collapse"
						        data-bs-target="#collapseExample-{{ collection.id }}" aria-expanded="false"
						        aria-controls="collapseExample-{{ collection.id }}">
						</button>
					</div>
					<div class="cards-display">
						<img src="/static/images/cards/rare.png" alt="Common cards" class="image-card">
						<div class="card-type-info">
							<h1 class="card-type-name inner-font">Редкие<br>карточки</h1>
							<p class="amount-cards-by-type inner-font">
								Колличество: {{ collection.amoundCards.rare }}</p>
						</div>
						<button id="cardsBatton" onclick="TestFunc(this)" data-id='{{ collection.id }}'
						        data-type="rare" data-amount="{{ collection.amoundCards.rare }}"
						        class="btn btn-primary" type="button" data-bs-toggle="collapse"
						        data-bs-target="#collapseExample-{{ collection.id }}" aria-expanded="false"
						        aria-controls="collapseExample-{{ collection.id }}">
						</button>
					</div>
					<div class="cards-display">
						<img src="/static/images/cards/legendary.png" alt="Uncommon cards" class="image-card">
						<div class="card-type-info">
							<h1 class="card-type-name inner-font">Легендарные карточки</h1>
							<p class="amount-cards-by-type inner-font">
								Колличество: {{ collection.amoundCards.legendary }}</p>
						</div>
						<button id="cardsBatton" onclick="TestFunc(this)" data-id='{{ collection.id }}'
						        data-type="legendary" data-amount="{{ collection.amoundCards.legendary }}"
						        class="btn btn-primary" type="button" data-bs-toggle="collapse"
						        data-bs-target="#collapseExample-{{ collection.id }}" aria-expanded="false"
						        aria-controls="collapseExample-{{ collection.id }}">
						</button>
					</div>
				</div>
				<div class="dp-col-cards collapse" id="collapseExample-{{ collection.id }}">
					<div id='cardsListDisplay' class="collection-cards-display card card-body">
					</div>
				</div>
			</div>
		{% endfor %}
		<script>
            function TestFunc(button) {
                let id = $(button).data('id');
                let type = $(button).data('type');
                let targetDiv = $(`div[data-id="${id}"]`);
                let amound = $(button).data('amount');
                let cardsListDiv = targetDiv.find('#cardsListDisplay')
                $(`#collapseExample-${id}`).off('shown.bs.collapse').on('shown.bs.collapse', function () {
                    console.log('Видимое поле')
                    let divSize = '637px'
                    let divCollorCss = ''
                    if (type === 'common') {
                        divCollorCss = '#867661'
                        divSize = "3200px"
                    } else if (type === 'uncommon') {
                        divCollorCss = 'rgba(25,138,21,0.92)'
                        divSize = '2000px'
                    } else if (type === 'rare') {
                        divCollorCss = 'rgb(41,63,171)'
                        divSize = '1500px'
                    } else {
                        divCollorCss = 'rgba(178,161,15,0.85)'
                        divSize = '1000px'
                    }
                    if (targetDiv.height() < 600) {
                        targetDiv.animate({height: divSize}, 500);
                    }
                    $.ajax({
                        url: `http://127.0.0.1:8000/collection/${id}/cards/?q=${type}`,
                        type: 'GET',
                        success: function (response) {
                            let data = response
                            for (let i = 1; i < amound + 1; i++) {
                                if (i in data) {
                                    let CardsCreatedDiv = $('<div class="create-card-form"></div>')
                                    CardsCreatedDiv.css('background-color', divCollorCss)
                                    let SomeDiv = $('<div class="create-image-form"></div>');
                                    let cardId = data[i]['id']
                                    let cardInfo = data[i]['name']
                                    let cardName = data[i]['info']
                                    let cardImage = data[i]['url']
                                    let collectionId = data[i]['collection']
                                    let Ptag = $('<a id="getCardInfo" href="#" class="inner-font" onclick="fillDataCard(this)" data-col-id="' + collectionId + '" data-card-image="' + cardImage + '" data-card-info="' + cardInfo + '"  data-card-name="' + cardName + '" data-card-id="' + cardId + '" data-bs-toggle="modal" data-bs-target="#updateCardModal" id="updateCardLink"></a>').text(data[i]['name'])
                                    let url = data[i]['url']
                                    let newImg = $('<img>', {
                                        src: url,
                                        alt: 'test',
                                    });
                                    SomeDiv.append(newImg);
                                    CardsCreatedDiv.append(SomeDiv)
                                    CardsCreatedDiv.append(Ptag)
                                    cardsListDiv.append(CardsCreatedDiv)
                                } else {
                                    let somediv = $('<div class="create-card-form"></div>')
                                    somediv.css('background-color', divCollorCss)
                                    let SomeoneDiv = $('<div class="create-image-form" style="top: 7px"></div>')
                                    let CreateLink = $('<a href="#" class="create-cards-link-form inner-font dynamic-element " data-bs-toggle="modal" data-bs-target="#createCardModal" id="createCardLink">Добавить<br>картинку</a>');
                                    CreateLink.attr('data-pos', i)
                                    CreateLink.attr('data-type', type)
                                    CreateLink.on('click', function () {
                                        let collectionId = id
                                        let dataType = $(this).attr('data-type');
                                        let dataPos = $(this).attr('data-pos');
                                        $('#submitBtn').attr('data-type', dataType).attr('data-pos', dataPos).attr('data-col-id', collectionId)
                                    });
                                    let Ptag = $('<p class="inner-font" style="top: 7px">Название карточки</p>')
                                    SomeoneDiv.append(CreateLink)
                                    somediv.append(SomeoneDiv)
                                    somediv.append(Ptag)
                                    cardsListDiv.append(somediv);
                                }
                            }
                        },
                        error: function (jqXHR, testStatus, errorThrow) {
                            console.log(testStatus, errorThrow)
                        }
                    })
                }).off('hidden.bs.collapse').on('hidden.bs.collapse', function () {
                    targetDiv.animate({height: '637px'}, 500);
                    let someDiv = $(this).find('#cardsListDisplay')
                    someDiv.empty()
                })
            }
		</script>
		<div class="modal fade" id="deleteCollectionModal" tabindex="-1" aria-labelledby="deleteCollectionModalLabel"
		     aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" style="background-color: #251F2BCC;">
					<div class="modal-header delete-col-description">
						<h1 class="modal-title fs-5" id="#deleteCollectionModalLabel">Вы уверенны?</h1>
					</div>
					<div class="modal-body delete-col-body">
						<p>Все данные этой коллекции будут удалены</p>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn-custom-exit" data-bs-dismiss="modal">Отмена</button>
						<button id="deleteCollectonButton" type="button" class="btn-confirm-delete"
						        onclick="deleteCollection(this)">Удалить
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="changeCollectionData" tabindex="-1" aria-labelledby="changeCollectionData"
		     aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="changeCollectionData">Modal title</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body create-cards-modal-display">
						<div class="main-modal-content" id="mainContentModalCards">
							<form id="updateCollection" enctype="multipart/form-data">
								<div class="change-view-modal-display ">
									<label class="form-control change-photo-button"
									       style="text-align: center; justify-content: right; flex-direction: row-reverse; margin-right: 20px"
									       tabindex="0">Изменить<br>фото
										<img class="change-photo-image"
										     src="/static/images/collection/create_cards/img.png"
										     alt="Change Image">
										<input type="file" name="file" class="invisible" id="inputCollectionView"
										       onchange="previewCollectionView()">
									</label>
									<div class="collections-views">
										<div class="change-view-collection">
											<img id="frameCollectionView" src="" class="collection-view-display"
											     width="580px"
											     height="237px">
										</div>
									</div>
									<button class="remove-view-btn" onclick="removeCollectionView()"
									        style="margin-left: 20px">
										<img class="change-photo-image"
										     src="/static/images/collection/create_cards/img_2.png"
										     alt="Change Image">
										<p class="inner-font">Удалить<br>фото</p>
									</button>
								</div>
								<div class="input-name-card correct-div-collection">
									<p class="inner-font label-name-input" for="cardsNameInput">Название:</p>
									<p class="inner-font collection-update-name" id="collectionName"></p>
								</div>
								<div class="mb-3 description-cards-input-display"
								">
								<label for="collectionMotto"
								       class="form-label inner-font description-cards">Описание: </label>
								<textarea class="form-control inner-font"
								          style="border: 1px solid #8C8C8C;!important;" name="motto"
								          id="collectionMotto"
								          placeholder="Введите текст" rows="6" required></textarea>
						</div>
						<button type="submit" id="selectChanges" onclick="postChangeCollectionInfo(this)"
						        class="btn-card-create inner-font" style="margin-top: 60px">Сохранить&nbsp;изменения
						</button>
						</form>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="updateCardModal" tabindex="-1" aria-labelledby="updateCardModalLabel"
	     aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="updateCardModalLabel">Заголовок модального окна</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body create-cards-modal-display">
					<div class="main-modal-content" id="mainContentModalCards">
						<form id="updateCads" enctype="multipart/form-data">
							<div class="create-image-modal-display">
								<label class="form-control change-photo-button"
								       style="text-align: center; justify-content: right; flex-direction: row-reverse"
								       tabindex="0">Изменить<br>фото
									<img class="change-photo-image" src="/static/images/collection/create_cards/img.png"
									     alt="Change Image">
									<input type="file" name="file" class="invisible" id="inputImageCard"
									       onchange="preview3()">
								</label>
								<div class="create-card-form" style="background-color: #867661">
									<div class="create-image-form">
										<img id="frame-card-view" style="display: block" src=""
										     class="img-fluid cards-image-view" width="170px"
										     height="216px">
									</div>
									<p class="inner-font">Название карточки</p>
								</div>
								<button class="remove-view-btn" style="visibility: hidden;" onclick="removeView()">
									<img class="change-photo-image"
									     src="/static/images/collection/create_cards/img_2.png"
									     alt="Change Image">
									<p class="inner-font">Изменить<br>фото</p>
								</button>
							</div>
							<div class="input-name-card">
								<label class="inner-font label-name-input" for="cardsNameInput">Название:</label>
								<input class="inner-font" id="updateCardName" name="name" placeholder="Введите название"
								       type="text" required>
							</div>
							<div class="mb-3 description-cards-input-display"
							">
							<label for="updateCardInfoInput"
							       class="form-label inner-font description-cards">Описание: </label>
							<textarea class="form-control inner-font"
							          style="border: 1px solid #8C8C8C;!important;" name="info"
							          id="updateCardInfoInputTest"
							          placeholder="Введите текст" rows="6" required></textarea>
					</div>
					<button type="submit" id="submitUpdateBtn" onclick="UpdateCard(this)"
					        class="btn-card-create inner-font">Сохранить&nbsp;изменения
					</button>
					</form>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
	</div>
	<div class="modal fade" id="createCardModal" tabindex="-1" aria-labelledby="createCardModalLabel"
	     aria-hidden="true">
	<div class="modal-dialog modal-xl">
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title fs-5" id="createCardModalLabel">Заголовок модального окна</h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
		</div>
		<div class="modal-body create-cards-modal-display">
			<div class="main-modal-content" id="mainContentModalCards">
				<form id="createCads" enctype="multipart/form-data">
					<div class="create-image-modal-display">
						<label class="form-control change-photo-button"
						       style="text-align: center; justify-content: right; flex-direction: row-reverse"
						       tabindex="0">Изменить<br>фото
							<img class="change-photo-image" src="/static/images/collection/create_cards/img.png"
							     alt="Change Image">
							<input type="file" name="file" class="invisible" id="inputImageCard"
							       onchange="preview()" required>
						</label>

						<div class="create-card-form" style="background-color: #867661">
							<div class="create-image-form">
								<img id="frameCreate" src="" class="img-fluid cards-image-view" width="170px"
								     height="216px">
							</div>
							<p class="inner-font">Название карточки</p>
						</div>
						<button class="remove-view-btn" onclick="removeView()">
							<img class="change-photo-image" src="/static/images/collection/create_cards/img_2.png"
							     alt="Change Image">
							<p class="inner-font">Удалить<br>фото</p>
						</button>
					</div>
					<div class="input-name-card">
						<label class="inner-font label-name-input" for="cardsNameInput">Название:</label>
						<input class="inner-font" id="cardsNameInput" name="name" placeholder="Введите название"
						       type="text" required>
					</div>
					<div class="mb-3 description-cards-input-display">
						<label for="cardInfoInput"
						       class="form-label inner-font description-cards">Описание: </label>
						<textarea class="form-control inner-font" style="border: 1px solid #8C8C8C;!important;"
						          name="info" id="cardInfoInput"
						          placeholder="Введите текст" rows="6" required></textarea>
					</div>
					<button type="submit" id="submitBtn" onclick="STestFunc(this)" class="btn-card-create inner-font">
						Сохранить&nbsp;изменения
					</button>
				</form>
			</div>
		</div>
		<div class="modal-footer">
		</div>
		<script>
            function STestFunc(button) {
                event.preventDefault();
                button.style.display = "none";
                const form = new FormData(document.querySelector("form[id='createCads']"));
                const id = button.getAttribute('data-col-id')
                const type = button.getAttribute('data-type')
                const position = button.getAttribute('data-pos')
                form.append('type_', type)
                form.append('position', position)
                fetch(`http://127.0.0.1:8000/collection/${id}/card/create/`, {
                    method: 'POST',
                    credentials: 'include',
                    body: form
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        const taskId = data.task_id
                        if (taskId) {
                            function checkTaskStatus(taskId) {
                                fetch(`http://127.0.0.1:8000/tasks/${taskId}/`)
                                    .then(response => response.json())
                                    .then(data => {
                                        console.log('Task status:', data.status);
                                        if (data.status === 'SUCCESS' || data.status === 'FAILURE') {
                                            clearInterval(checkInterval);
                                            console.log(data);
                                            location.href = ''
                                        }
                                    })
                                    .catch(error => console.error('Error:', error));
                            }

                            const checkInterval = setInterval(() => checkTaskStatus(taskId), 500);
                        }


                    })
                    .catch(error => console.error(error));
            };
		</script>
	</div>

	<script>
        function removeView() {
            event.preventDefault()
            let frame = document.getElementById('frameCreate');
            frame.style.display = 'none'
            document.getElementById('inputImageCard').value = '';
        }

        function removeCollectionView() {
            event.preventDefault()
            let frame = document.getElementById('frameCollectionView');
            frame.style.display = 'none'
            document.getElementById('inputImageCard').value = '';
        }

        function preview() {
            let frame = document.getElementById('frameCreate');
            frame.style.display = 'block'
            let x = URL.createObjectURL(event.target.files[0]);
            frame.src = URL.createObjectURL(event.target.files[0]);
        }

        function previewCollectionView() {
            let frame = document.getElementById('frameCollectionView');
            frame.style.display = 'block'
            frame.src = URL.createObjectURL(event.target.files[0]);
        }

        function preview3() {
            let frame = document.getElementById('frame-card-view');
            frame.style.display = 'block'
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
	</script>
	<script>
        function ActivateCollection(button) {
            let id = $(button).data('col-id');
            const dictx = {"status": "active"}
            const zer = JSON.stringify(dictx)
            console.log(zer)
            console.log(id)
            fetch(`http://127.0.0.1:8000/collection/${id}/change/status/`, {
                method: 'PATCH',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: zer
            })
                .then(response => response.json())
                .then(data => {
                    if (data.detail === 'Collection is not full') {
                        alert('Коллекция не полная')
                    } else if (data.detail === 'There is already an active collection') {
                        alert('Уже есть кативная коллекция')
                    } else {
                        location.href = 'http://127.0.0.1:8000/pages/collections/active/';
                    }
                })
                .catch(error => {
                        console.error('Error:', error)
                    }
                );
        }
	</script>
	<script>
        $(document).ready(function () {
            $('.open-delete-modal').on('click', function (e) {
                e.preventDefault();
                var dataId = $(this).data('col-id');
                $('#deleteCollectonButton').attr('data-id', dataId)
            });

            $('.open-modal').on('click', function (e) {
                e.preventDefault();
                var modalId = $(this).data('bs-target');
                var dataId = $(this).data('col-id');
                $('#collectionName').text($(this).data('name'))
                $('#collectionMotto').val($(this).data('motto'))
                $('#selectChanges').attr('data-id', dataId)
                var cover = $(this).data('cover')
                if (cover) {
                    $('#frameCollectionView').attr('src', cover)
                }

            });

        });
	</script>
	<script>
        function UpdateCard(button) {
            event.preventDefault();
            button.style.display = "none";
            const form = new FormData(document.querySelector("form[id='updateCads']"));
            const card_id = button.getAttribute('data-id')
            const col_id = button.getAttribute('data-col-id')
            console.log(form)
            fetch(`http://127.0.0.1:8000/collection/${col_id}/card/${card_id}/change/`, {
                method: 'PUT',
                credentials: 'include',
                body: form
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    const taskId = data.task_id
                    if (taskId) {
                        function checkTaskStatus(taskId) {
                            fetch(`http://127.0.0.1:8000/tasks/${taskId}/`)
                                .then(response => response.json())
                                .then(data => {
                                    console.log('Task status:', data.status);
                                    if (data.status === 'SUCCESS' || data.status === 'FAILURE') {
                                        clearInterval(checkInterval);
                                        console.log(data);
                                        location.href = 'http://127.0.0.1:8000/pages/collections/created/?status=created'
                                    }
                                })
                                .catch(error => console.error('Error:', error));
                        }

                        const checkInterval = setInterval(() => checkTaskStatus(taskId), 500);
                    } else {
                        location.href = 'http://127.0.0.1:8000/pages/collections/created/?status=created'
                    }


                })
                .catch(error => console.error(error));
        }

        function fillDataCard(btn) {
            event.preventDefault()
            var dataId = $(btn).data('card-id');
            var cardName = $(btn).data('card-name')
            var cardInfo = $(btn).data('card-info')
            var collectionId = $(btn).data('col-id')
            $('#updateCardName').val(cardInfo)
            $('#updateCardInfoInputTest').val(cardName)
            $('#submitUpdateBtn').attr('data-id', dataId).attr('data-col-id', collectionId)
            var image = $(btn).data('card-image')
            if (image) {
                $('#frame-card-view').attr('src', image)
                $('#frame-card-view').display = 'block'
            }
        }
	</script>

	<script>
        function postChangeCollectionInfo(button) {
            event.preventDefault();
            var id = $(button).data('id')
            const form = new FormData(document.querySelector("form[id='updateCollection']"));
            const object = {};
            form.forEach(function (value, key) {
                object[key] = value;
            });

            fetch(`http://127.0.0.1:8000/collection/${id}/change/`, {
                method: 'PUT',
                credentials: 'include',
                body: form
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.task_id) {
                        const taskId = data['task_id']

                        function checkTaskStatus(taskId) {
                            fetch(`http://127.0.0.1:8000/tasks/${taskId}/`)
                                .then(response => response.json())
                                .then(data => {
                                    console.log('Task status:', data.status);
                                    if (data.status === 'SUCCESS' || data.status === 'FAILURE') {
                                        clearInterval(checkInterval);
                                        console.log(data);
                                        location.href = 'http://127.0.0.1:8000/pages/collections/created/?status=created';
                                    }
                                })
                                .catch(error => console.error('Error:', error));
                        }

                        const checkInterval = setInterval(() => checkTaskStatus(taskId), 200);
                    } else {
                        location.href = 'http://127.0.0.1:8000/pages/collections/created/?status=created';
                    }

                })
                .catch(error => {
                    console.error('Ошибка загрузки данных:', error)
                });
        }
	</script>
	<script>
        function deleteCollection(button) {
            var id = $(button).data('id')
            fetch(`http://127.0.0.1:8000/collection/${id}/delete/`, {
                method: 'DELETE',
                credentials: 'include',
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    location.href = 'http://127.0.0.1:8000/pages/collections/created/?status=created';
                }).catch(error => {
                console.error('Ошибка загрузки данных:', error)
                location.href = 'http://127.0.0.1:8000/pages/collections/created/?status=created';
            })
        }
	</script>

{% endblock %}
