.title-empty {
    display: grid;
    margin-top: 40px;
    justify-content: center;
    align-content: center;
}

.button-positon {
    display: grid;
    margin-top: 40px;
    justify-content: center;
    align-content: center;
}

.description-empty {
    font-size: 17px;
    font-weight: 400;
}

.creating-collection-space {
    height: 600px;
    width: 100%;
}

.create-collection-main-input {
    margin-top: 20px;
    display: inline-flex;
}

.create-view-collection {
    width: 512px;
    height: 324px;
    gap: 15px;
}

.view-title {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.create-view-div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 450px;
    height: 279px;
    padding: 91px 150px 91px 150px;
    gap: 15px;
    border: 1px solid #353140
}

.borede-none {
    width: 100%;
    height: 100%;
}

.change-photo-button {
    border: none;
}

.div-input-text-collection {
    border: 1px solid #8C8C8C;
    margin-left: auto;
    background-color: #4CAF50;
    width: 580px;
    height: 280px;
    gap: 15px;
}

.area-text-collection {
    width: 100%;
    height: 100%;
}

textarea.form-control {
    border: none;
    height: 100% !important;
}

.selected-collection-size {
    display: inline-flex;
    margin-top: 60px;
}

.selecte-title {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.btn-check:checked + .btn {
    background-color: #4F4856B2; /* Цвет фона при выборе */
    color: white; /* Цвет текста при выборе */
}

.form-check, .form-check-inline {
    display: flex;
    align-items: center;
}

.change-size-radio {
    width: 109px;
    height: 57px;
    border-radius: 11px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    color: black;
}