.title-empty {
    display: grid;
    margin-top: 40px;
    justify-content: center;
    align-content: center;
}

.button-positon {
    display: grid;
    margin-top: 40px;
    justify-content: center;
    align-content: center;
}

.description-empty {
    font-size: 17px;
    font-weight: 400;
}

.creating-collection-space {
    height: 600px;
    width: 100%;
}

.create-collection-main-input {
    margin-top: 20px;
}

.create-view-collection {
    width: 512px;
    height: 324px;
    gap: 15px;
}

.view-title {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.create-view-div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 450px;
    height: 279px;
    padding: 91px 150px 91px 150px;
    gap: 15px;
    border: 1px solid #353140
}

