{% extends 'base.html' %}

{% block content %}
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex-column items-center space-x-4">
        <div>
            <p class="text-gray-500">{{ club.name }}</p>
            {% if club.image %}
                <img src="{{ club.image }}" alt="Картинка">
            {% else %}
                <img src="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
                     width="300" height="200" alt="Картинка">
                <a class="text-gray-500" href=".">Изменить изображение</a>
            {% endif %}
            <p class="text-gray-500">О клубе: {{ club.motto }}</p>
            <button class="text-gray-500">Редактировать описание</button>

            <p class="text-gray-500">Тренер: {{ club.couch }}</p>
            <button class="text-gray-500">Изменить тренера</button>
        </div>

    </div>

{% endblock %}