{% extends 'base.html' %}


{% block content %}
    <div class="flex flex-wrap">

        {% for team in teams %}

            <div class="m-2 p-6 max-w-sm mx-2 bg-white rounded-xl shadow-md flex-wrap items-center justify-content-center space-x-4"
                 style="background-color: rgba(37, 31, 43, 0.8);">
                <a class="text-white"
                   href="{{ url_for('get_team_details', team_id=team.id) }}">Название команды:<br> {{ team.title }}</a>

                {#                <p class="text-gray-500">Статус: {% if collection.status == 'active' %}#}
                {#                    Активная{% elif collection.status == 'created' %}Созданная{% endif %} </p>#}
                {##}
                {##}
                {#                <p class="text-gray-500">Размер: {% if collection.size=='fortyCards' %}40#}
                {#                    карточек{% elif collection.size=='sixtyCards' %}60 карточек{% else %}80 карточек{% endif %}</p>#}
                {#                <p class="text-gray-500" type="date">Дата#}
                {#                    создания: {{ collection.createdAt.strftime('%Y-%m-%d в %H:%M') }}</p>#}

            </div>

        {% endfor %}
    </div>
{% endblock %}