.error-message {
    color: red;
}

.birthday-label {
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    pointer-events: none;
    transition: 0.2s ease all;
}

input[type="date"]:focus + .birthday-label,
input[type="date"]:not(:placeholder-shown) + .birthday-label,
input[type="date"]:valid + .birthday-label {
    transform: translateY(-1.5em);
    font-size: 0.8em;
    color: #5a9;
}

div {
    margin: 10px;
}

.b1 {
    background: #6f3d19; /* Синий цвет фона */
    color: white; /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
}

.b2 {
    background: #000000; /* Синий цвет фона */
    color: white; /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
}

.b3 {
    background: #5110a0; /* Синий цвет фона */
    color: white; /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
}

.b4 {
    background: #ff8a00; /* Синий цвет фона */
    color: white; /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
}


/* Кнопка закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}