{% extends 'base.html' %}
{% block content %}
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
        <div>
            <div class="text-xl font-medium text-black">Профиль пользователя</div>
            <p class="text-gray-500">Информация о вашем профиле</p>
            <p class="text-gray-500">Статус: {{ profile.userType }}</p>
            <p class="text-gray-500">Email: {{ profile.email }}</p>
            <p class="text-gray-500">Имя: {{ profile.firstName }}</p>
            <p class="text-gray-500">Фамилия: {{ profile.lastName }}</p>
            <p class="text-gray-500">Отчество: {{ profile.middleName }}</p>
            <p class="text-gray-500">День рождения: {{ profile.birthdate.strftime('%Y.%m.%d') }}</p>
            <p class="text-gray-500">Телефон: {{ profile.phone }}</p>
            <a href="{{ url_for('club_detail') }}" class="text-gray-500"> Мой клуб</a>
            <hr>
            <a href="." class="text-gray-500">
                Редоктировать профиль</a>
            <hr>
            <a href="{{ url_for('reset_password').include_query_params(email=profile.email) }}" class="text-gray-500">
                Сброс пароля</a>


        </div>
    </div>
{% endblock %}